body {
    background-color: #d40303;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

h1 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #005f73;
}

a:hover {
    text-decoration: underline;
}

table {
    background-color: #ffffff;
    border-collapse: collapse;
    min-width: 700px;
    border: 1px solid #ccc;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
}

th {
    background-color: #005f73;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

button,
input[type="submit"],
input[type="button"] {
    padding: 6px 12px;
    border: none;
    background-color: #0a9396;
    color: #ffffff;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #007980;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form select {
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 250px;
}
header {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

header h2 {
    margin: 0 0 10px 0;
    font-size: 26px;
}

.main-nav {
    display: flex;
    gap: 25px;        /* Abstand zwischen den Links */
    flex-wrap: wrap;  /* Wenn wenig Platz ist, umbrechen */
}

.main-nav a {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #e0f7fa;
    color: #005f73;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.main-nav a:hover {
    background-color: #b2ebf2;
    text-decoration: none;
}

/* Formular */
label {
    display: block;
    margin-top: 10px;
}

.error {
    color: #d00000;
    font-weight: bold;
    margin-top: 10px;
}

/* ===== Kartenansicht ===== */
#map {
    height: 600px;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-top: 25px;
}


